# vim temp history
# http://stackoverflow.com/a/9850662
.netrwhist

# linux temp files
*~

# macos temp files
._*
Icon?
.Trash*
.DS_Store
.DS_Store?
*/.DS_Store
.Spotlight-V100

# windows temp files
Thumbs.db
ehthumbs.db
